    <div class="flex items-start gap-10 overflow-x-auto sm:flex-nowrap">
        <div class="min-w-[250px] w-full">
            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-gray-100">
                <div class="p-3 rounded-full bg-blue-600 bg-opacity-65">
                   <img src="./SVG/wind.svg" class="w-8 h-8" />
                </div>

                <div class="mx-5">
                    <h4 class="text-2xl font-semibold text-gray-700">{{weatherDetails.windSpeed}} <span class="text-[16px] font-normal">km/h</span> </h4>
                    <div class="text-gray-500">Wind Speed</div>
                </div>
            </div>
        </div>

        <div class="min-w-[250px] w-full">
            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-gray-100">
                <div class="p-3 rounded-full bg-gray-600 bg-opacity-85">
                    <img src="./SVG/sleet.svg" class="w-8 h-8" />
                 </div>

                <div class="mx-5">
                    <h4 class="text-2xl font-semibold text-gray-700">{{weatherDetails.humidity}} <span class="text-[16px] font-normal">{{"%"}}</span> </h4>
                    <div class="text-gray-500">Humidity</div>
                </div>
            </div>
        </div>

        <div class="min-w-[250px] w-full">
            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-gray-100">
                <div class="p-3 rounded-full bg-violet-600 bg-opacity-85">
                    <img src="./SVG/overcast.svg" class="w-8 h-8" />
                 </div>

                <div class="mx-5">
                    <h4 class="text-2xl font-semibold text-gray-700">{{weatherDetails.elevation}} <span class="text-[16px] font-normal">meters</span> </h4>
                    <div class="text-gray-500">Elevation</div>
                </div>
            </div>
        </div>
    </div>
