.custom-scrollbar {
    overflow-y: auto; 
    scroll-behavior: smooth;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #bfbdbd;
  }
  
  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  